.navbar-brand{
    font-family: Times, "Times New Roman", Georgia, serif;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 5px white;
}

.navbar-brand:hover{
    color: wheat;
    text-shadow: 2px 2px 5px wheat;
}

.nav-link{
    color: white;
    font-size: 16px;
}

.nav-link:hover{
    color: wheat;
}

.navbar-btn{
    border: 2px solid white;
}

.navbar-btnicon{
    font-size: small;
}

.heading-title{
    color: white;
}

.login-name-box{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 13px;
    line-height: 30px;
    width: 120px;
    border: transparent;
    padding-left: 8px;
}

.acc-login-btn{
    color: white;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acc-login-btn:hover{
    color: wheat;
}

.link:hover{
    color: rgb(156, 58, 58);
    cursor: pointer;
}

.user-interface-title{
    background-color: transparent;
    color: rgb(156, 58, 58);
    font-size: 30px;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-profile{
    background-color: rgb(156, 58, 58);
    border: 2px solid white; 
    color: white;
    font-size: 14px;
    border-radius: 10px; 
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-profile:hover{
    border: 2px solid rgb(156, 58, 58);
    background-color: transparent;
    color: rgb(156, 58, 58);
}

.inputbox{
    background: white; 
    padding: 0; 
    color: black; 
    font-size: 15px; 
    line-height: 30px; 
    width: auto; 
    border: 2px solid black; 
    border-radius: 30px; 
    padding-left: 10px;
}

a {   
    color: white; 
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

a:focus {
    color:white;
    outline: none;
    text-decoration: none; 
}

.my-profile-link:hover{
    color: rgb(156, 58, 58);
    cursor: pointer;
    text-decoration: none;
}

.btn-donate{
    background-color: rgb(156, 58, 58);
    border: 2px solid white; 
    color: white;
    font-size: 18px;
    border-radius: 10px; 
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-donate:hover{
    border: 2px solid rgb(156, 58, 58);
    background-color: transparent;
    color: rgb(156, 58, 58);
}

.btn-close-div{
    background-color: rgb(156, 58, 58);
    border: 2px solid white; 
    color: white; 
    font-size: 13px;
    border-radius: 10px; 
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-close-div:hover{
    border: 2px solid white;
    background-color: white;
    color: rgb(156, 58, 58);
}

.cd-table{
    width: 100%;
    color: #666;
    margin: 10px auto;
    border-collapse: collapse;
}
  
.cd-table tr,
.cd-table td{
    border: 1px solid #ccc;
    padding: 10px;
}

.cd-table th{
    background: rgb(156, 58, 58);
    color: #fff;
    padding: 10px;
}
  
.cd-search{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}