<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    
    <title>OBBMS - Home Page</title>
    <link rel="stylesheet" href="../static/aboutUs.css">
</head>
<body>
    <!-- Start of system nevigation -->
    <nav class="navbar navbar-expand-sm" style="background-color: rgb(156, 58, 58);">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">OBBMS</a>
            <button class="navbar-toggler navbar-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbardiv">
                <span class="navbar-toggler-icon navbar-btnicon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbardiv">
                <ul class="navbar-nav me-auto" style="margin-bottom: 10px;">
                    <li class="nav-item">
                        <a class="nav-link" href="/donatecamp">Donate-Camp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">User-Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">User-Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Go-Back</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input  class="login-name-box" type="text" name="" placeholder="Please login...">
                    <a class="acc-login-btn" href="#" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                    </a>
                </form>
            </div>
        </div>
    </nav>
    <!-- End of system nevigation -->


    <!-- Start of system body -->
    <div style="width: 100%; background-color: rgb(201, 201, 201);">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="col-sm-2" style="background-color: transparent; margin-bottom: 20px; margin-top: 20px;">
                    <img src="https://www.seekpng.com/png/detail/175-1753825_donor-png-file-blood-donation-logo-png.png" class="img-fluid" alt="Responsive image"></img>
                </div>
                <div class="col-md-1 col-md-offset-1"></div>
                <div class="col-sm-7" style="background-color: transparent; margin-bottom: 20px; margin-top: 20px;">
                    <p>
                        A blood donation camp was organized in the institute which was a student initiative and a street play on blood donation awareness was carried out at different parts of the institute. 
                        For this reason, the study aimed at assessing the knowledge, attitude, and practises among the voluntary donors was carried out to bring out further awareness programs.
                    </p>
                    <p>
                        Out of the 50 donors, there were 21 male (42%) and 29 females (58%), with a mean age of 21.45 ± 1.35 years. It was recognized that, among 50 donors, 
                        52% of the donors have not donated in the last 2 years while 58% of the donors would voluntarily like to donate blood again. 
                        It was seen that 52% of the donors had fear of needles acting as a hindrance for the blood donation.
                    </p>
                    <p>
                        My experience during the whole journey of the initiative was quite enlightening. 
                        Looking at the enthusiasm of the donors and the organizing team, 
                        it also encouraged the patients' relatives and professors to come forward for the donation. 
                        The success of the event has further encouraged me to carry out such more awareness projects in the future.
                    </p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="col-sm-7" style="background-color: transparent; margin-bottom: 20px; margin-top: 20px;">
                    <p>
                        Words can barely describe how excited I am to go to Experience Camps this summer. 
                        Other than my siblings I have never even met anyone who really understands what I am going through. 
                        I don’t know anyone who has experienced a significant loss of a loved one at such a young age. 
                        My mother ironically would have understood the most, since her father passed away when she was in high school. 
                        Nonetheless, I know it’s going to be such an incredible experience to be able to meet not just one person like me, 
                        but to be completely surrounded by people who truly get it.
                    </p>
                    <p>
                        If you think you want to create, just give it a try. If you are worrying that you won’t be talented enough, I understand how you feel. 
                        Finding that “outlet” that I mentioned earlier will be so worth it. Every single person has an outlet; 
                        it’s just a matter of figuring out what it is. You shouldn’t worry about being talented enough to create 
                        because that’s not what creativity is all about. It’s about expression. If you feel that you are “bad” at creating that’s just 
                        because you haven’t figured out how to express yourself yet, and that’s okay! Just have fun and practice.
                    </p>
                </div>
                <div class="col-md-1 col-md-offset-1"></div>
                <div class="col-sm-2" style="background-color: transparent; margin-bottom: 20px; margin-top: 20px;">
                    <img src="https://c8.alamy.com/comp/2E0EWBE/blood-donation-logo-template-design-vector-blood-logo-template-vector-icon-2E0EWBE.jpg" class="img-fluid" alt="Responsive image"></img>
                </div>
            </div>
        </div>
    </div>
    <!-- End of system body -->


    <!-- Start of system footer -->
    <footer class=" text-center text-white" style="background-color: rgb(156, 58, 58);" >
        <div class="container p-4">
            <section class="mb-4">
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
            </section>
            <section class="">
                <form action="">
                    <div class="row d-flex justify-content-center">
                        <div class="col-auto">
                            <p class="pt-2" style="color: white;">
                                <strong>Sign up for our newsletter</strong>
                            </p>
                        </div>
                        <div class="col-md-5 col-12">
                            <div class="form-outline form-white mb-4">
                                <input type="email" id="form5Example21" class="form-control" />
                                <label class="form-label" for="form5Example21">Email address</label>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-outline-light mb-4">Subscribe</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </footer>
    <!-- End of system nevigation -->


</body>
</html>